@import '../../../styles/base/variables';

.modal .form-group {
  margin-top: 3%;
}

.modal .form-group label, .modal .form-group input, .modal .form-group select, .modal .form-group select option, .modal .form-group input::placeholder {
  color: var(--text);
}

.modal .form-group input, .modal .form-group select {
  border-color: var(--text);
}

.modal .form-group input:focus, .modal .form-group select:focus {
  border-color: var(--accent);
}

.modal .form-group select option {
  background-color: var(--bg-alt);
}

.category-input .input-container {
  position: relative;
  display: flex;
  align-items: center;
}

#new-category {
  width: 100%;
  padding-right: 5%;
}

.add-btn {
  position: absolute;
  right: 1%;
  background: none;
  color: var(--text);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--accent);
  }
}

.category-list {
  margin: 1% 0 2%;
}

.create-budget-btn {
  background: var(--text);
  color: var(--bg);
  padding: 1% 2%;
  margin-top: 2.5%;

  &:not(:disabled):hover {
    background: var(--primary);
    color: #fff;
  }
}