@import '../base/variables';

input, select {
    box-shadow: 0 0 0px 1000px var(--bg-alt) inset !important;
    outline: none;
    border: none;
    border: 2px solid var(--text);
    padding: 3px 6px;
    font-size: $text;
    color: var(--text);
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
